.messageContainer{

  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 40%;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid rgba(128, 128, 128, 0.481);
  padding: 0.5em 0em 0.5em 0em;
  min-height: 80vh;
  max-height: 80vh;
  position: relative;
  border-radius: 0.2em;
  background-color: #f5f9fd69;
  box-shadow: 2px 3px 12px -3px rgba(0, 0, 0, 0.10);
  font-size: 0.8em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 5%;

  .header{
    width: 100%;
    height: 4em;
    background-color: #2962FF;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    color: rgb(245, 243, 243);;
    font-size: larger;

    p{
      padding-left: 1em;
    }
  }

  .chat-container{
    max-height: 98%;
    min-height: 98%;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-x: hidden;
    padding: 1em 1em 1em 1em;

    .message{
      padding: 0.2em 0.5em 0.2em 0.5em;
      border: none;
      border-radius: 0.5em;
      width: fit-content;
      margin-bottom: 0.2em;
      background-color: #9cc7ef80;
      color: black;
      word-wrap: break-word;
      text-overflow: clip;
      

      .identifier{
        border-radius: 0.5em;
        padding: 0.2em;
        font-weight: 600;
      }

      .identifier.sent{
        color: darkgreen;
      }
      .identifier.received{
        color: #2962FF;
        
      }
    }
  }
 
  footer{
    display: flex;
    height: auto;
    // width: 100%;
    flex-direction: row;
    align-items: center;
    form{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 1em;
      input{
        width: 80%;
        padding: 0.5em;
        background-color: #f5f9fd69;
        border: none;
      }
      button{
        width: 15%;
        padding: 0.5em;
        border: none;
        background-color: #2962FF;
        border-radius: 0.5em;
        color: rgb(245, 243, 243);
      }
    }
  }

}